/*index.css*/
h2 {
  color: green;
}

#time-left{
    color: crimson;
    font-weight: 900;
    font-size: 35px;10

h3{
    width: 30%;
}

.slidecontainer{
    width: 25%;
}

#slider { 
    margin: 10px; 
}

.slider {
  -webkit-appearance: none;
  width: 30%;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s; 
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 20px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.value{
    margin-top: 10px;
}